<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
   </head>
   <body>
      <span>Chào anh/chị</span>
      <br>
      <p>Để đảm bảo cho giảng viên có thể theo dõi được việc chấm công của mình trong tháng
        Iliat mời anh/chị vui lòng truy cập vào:  <a href="https://chamcong-webapp.herokuapp.com">https://chamcong-webapp.herokuapp.com</a></p>
      <p>Với tài khoản và mật khẩu là Email anh/chị đang sử dụng
        (anh/chị vui lòng đổi mật khẩu để đảm bảo thông tin cá nhân)</p>
      <p>Nếu có bất cứ sai sót gì về thông tin chấm công anh/chị vui lòng gặp lễ tân để chấm lại
          hoặc liên hệ với bạn Minh Hải (01662945644 - haihm.iliat@gmail.com)
      </p>
      <p>Chúc anh/chị ngày làm việc hiểu quả !</p>
   </body>
</html>
