<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
   </head>
   <body>
      <span>Chào anh/chị</span>
      <br>
      <p>
        Do một số sai sót kĩ thuật nên chức năng đổi mật khẩu đã không sử dụng được trong ngày hôm qua,
        đội ngũ kĩ thuật của Iliat hiện tại đã khắc phục được sự cố này, anh/chị đã có thể vào thay đổi mật khẩu
        tài khoản của mình được.
      </p>
      <p>
        Nếu có bất cứ thắc mắc gì anh/chị vui lòng liên hệ với bạn Minh Hải (01662945644 - haihm.iliat@gmail.com)
      </p>
      <p>Chúc anh/chị ngày làm việc hiệu quả !</p>
   </body>
</html>
